<div class="jumbotron">
    <h1>Secured customer</h1>
    <p class="lead">Similar to the "AssociationsIntro" code example, works with customers, but with security.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Authentication, access token validation</li>
            <li>Customers controller is protected</li>
            <li>The "get one" method of the Values controller is also protected</li>
        </ul>
    </div>
</div>
