<div class="jumbotron">
    <h1>Link relations intro</h1>
    <p class="lead">Introduces link relations, which enables application state changes.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Chinook sample database</li>
            <li>Entity Framework and AutoMapper already installed</li>
            <li>Employee entity</li>
        </ul>
        <p>Study the code highlighted by the "ATTENTION" comment tokens in Visual Studio.</p>
    </div>
</div>
