<div class="jumbotron">
    <h1>Hypermedia object graph</h1>
    <p class="lead">Shows how to render rich nested object graphs with link relations.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>The "get one" Artist use case includes the ability to render link relations for each item in an Artist's collection of Albums.</p>
        <p>Open and study the code example to learn more.</p>
    </div>
    <div class="col-md-4">
        <h2>Also...</h2>
        <p>This code example can be used by an HTTP client (HTML5/JavaScript, mobile, etc.).</p>
        <p>Read the "Attention" token code comments about CORS.</p>
    </div>
</div>
