<div class="jumbotron">
    <h1>Manage User Accounts</h1>
    <p class="lead">A web service that enables an administrator to manage user accounts for the app.</p>
    <p><a href="https://petermcintyre.com/dps907/notes/nov01/" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Includes the features of the ManageClaims code example.</p>
        <p>Adds a controller that enables some getting-started user account management tasks to be done (fetch, add).</p>
        <p>Add more code for full functionality.</p>
    </div>
</div>
