<div class="jumbotron">
    <h1>Assignment 3</h1>
    <p class="lead">Fall 2016 Web Services class, example solution.</p>
    <p><a class="btn btn-primary btn-lg" href="https://petermcintyre.com/dps907/graded-work/assign3/" target="_blank">Assignment specs</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Works with the Invoice and Employee entity collections</li>
            <li>Rich delivery of content, with associated objects</li>
            <li>Add new for Employee, with data to make a self-referencing to-one association</li>
            <li>Implements the command pattern for task(s)</li>
        </ul>
    </div>
</div>
