<div class="jumbotron">
    <h1>Web app and web service controllers</h1>
    <p class="lead">How to support both kinds of controllers with nice resource URIs.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>Chinook sample database, Employees entity</li>
            <li>Web app controller, for browser clients</li>
            <li>Web service controller, for programmatic clients</li>
            <li>Nice URIs, /employees and /api/employees</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Notice...</h2>
        <p>Notice the "Employees" link in the top-row menu.</p>
    </div>
</div>
