<div class="jumbotron">
    <h1>Assignment 2</h1>
    <p class="lead">Example solution.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Includes the following features:</p>
        <ul>
            <li>View the specifications</li>
        </ul>
    </div>
</div>
