<div class="jumbotron">
    <h1>Assignment 4</h1>
    <p class="lead">Sample solution. Work with media items.</p>
    <p><a href="https://petermcintyre.com/dps907/graded-work/assign4/" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>URI is /api/instruments</p>
        <p>Supports the following:</p>
        <ul>
            <li>Get all, get one</li>
            <li>Add new</li>
            <li>Delete item</li>
            <li>A command to set photo for an existing item</li>
            <li>A command to set sound clip for an existing item</li>
        </ul>
    </div>
</div>
